header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 95px 50px 94px 50px;
  background-color: white;
  font-size: 18px;
}

.header__logo-image {
  display: block;
  width: 135px;
  height: 105px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style-type: circle;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.address {
  font-style: normal;
  line-height: 1.3;
  max-width: 240px;
}

.header__address {
  justify-self: end;
}

/* Главная секция с картинкой */
.cover {
  position: relative;
  margin-bottom: 180px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  padding: 165px 50px 50px 50px;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  font-size: 100px;
  color: white;
  margin-bottom: 106px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  letter-spacing: 30px;
}

.aligned-text_center {
  text-align: center;
  line-height: 1.5;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 18px;
  text-transform: uppercase;
  color: white;
}

.bet-button {
  background: transparent;
  color: white;
  padding: 12px 32px;
  text-transform: uppercase;
  font-size: 22px;
  border: 1px solid white;
}

/* Секция с карточками */
.lots {
  margin: 0 24px 120px 24px;
}

.lots__heading {
  text-transform: uppercase;
  margin: 0 0 27px 40px;
  font-size: 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  text-decoration: none;
  height: 100%;
  display: block;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  z-index: -1;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  z-index: -1;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  z-index: -1;
}

.card__title {
  margin: 48px 40px 0;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
  color: white;
}

.card__text {
  margin: 0 40px 48px;
  font-size: 20px;
  color: white;
  line-height: 1.2;
}

.lots__look-more-link {
  display: block;
  width: 192px;
  text-decoration: none;
  border-bottom: 1px solid black;
  font-size: 20px;
  margin: 30px 0 0 40px;
  color: black;
}

/* Секция "Об аукционе" */
.about {
  display: grid;
  margin: 0 24px 180px 24px;
  grid-template-columns: 1fr 2fr;
  gap: 72px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-bottom: 100px;
  text-transform: uppercase;
  font-size: 40px;
}

.about__text {
  font-size: 20px;
  line-height: 1.2;
}

.about__text p:first-child {
  margin-bottom: 25px;
}

/* Подвал сайта */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 0 50px;
  min-height: 180px;
  font-size: 18px;
}

.footer address {
  font-style: normal;
  line-height: 1.3;
  max-width: 240px;
}

.footer__menu {
  display: flex;
  justify-content: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-self: end;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

